<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: blue;">
    <a class="navbar-brand" href="#">
      
      <div class="user-profile">
        <!-- Replace 'path/to/user-profile-image' with the actual path to the user profile image -->
        <img src="assets/images/profile.jpg" alt="User Profile Image">
      </div>
    </a>
    <label><span class="badge bg-info text-dark">{{users.firstname}}</span></label>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button   class="btn btn-info" (click)="gotobookings()">Bookings</button>
        </li>
        <li class="nav-item">
          <button  class="btn btn-info" (click)="updateProfile()" >Update Profile</button>
        </li>
        <li class="nav-item">
          <button  class="btn btn-info" (click)="Logout()" >Logout</button>
        </li>
      </ul>
    </div>
  </nav>
  
  <div *ngFor="let tour of tours" id="maindiv">
    <div class="container" *ngIf="tour.istouractive" id="main1">
  <div class="container-fluid contenedor text-center" >
    <h1 class="text-center">Time To Travel</h1>
    <div class=" container text-center">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
          <img src={{tour.imageurl}} alt="">
       </div>
      
       <div>
        <h1><span class="badge bg-secondary">Tour Name</span>↬<span class="badge bg-secondary">{{tour.name}}</span></h1>
        <h1><span class="badge bg-secondary">Location</span>↬<span class="badge bg-secondary">{{tour.location}}</span></h1>
       <p><span class="badge bg-secondary">Description</span>↬<span class="badge bg-secondary">{{tour.description}}</span></p>

       </div>

      
    </div>
 </div>
  
 


</div>
</div>


  </div>
  
  
    <router-outlet></router-outlet>
    
