<div class="container mt-5">
    <!--component holder-->
    
        <!--Banner-->
        <div class="row">
            <div class="col">
                <img class="img-fluid" [src]="bannerImage" alt="travel-image"/>
            </div>
            <div class="col align-self-center">
                <div class="display-6 text-warning fst-italic text-center">
                    "LIVE YOUR LIFE BY A COMPASS, NOT A CLOCK."
                </div>
            </div>
        </div>
    
        <!--Top rated Tours-->
        <div class="container bg-light rounded mt-5 p-3">
            <div class="h3 text-warning fw-bolder">Top Rated Tours : </div>
            <div class="row">
                <!--CARD-->
                <div class="col"  *ngFor="let t of topTours">
                    <div class="card mt-2 col" style="width: 18rem;">
                        <img src="{{t.imageurl}}"  style="height: 250px;" class="card-img-top img-fluid" id="source" alt="Exterior image {{t.location}}">
                        <div class="card-body">
                         <img src="./assets/location-pin.svg"> <h5 class="card-title">{{t.name}}</h5>
                          <p class="card-text">{{t.location}}</p>
                          <a [routerLink]="['/details', t.tourid]">Learn More</a>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="d-flex justify-content-end mt-3">
                <a routerLink="/tour" class="btn btn-sml btn-primary">See All <i class="bi bi-arrow-right"></i> </a>
            </div>
        </div>
    
        <!--Top rated Tours-->
        <div>
            
        </div>
    
    
    </div>
    